@font-face
  font-family: 'rubik'
  src: url('../fonts/rubik-regular-webfont.eot')
  src: url('../fonts/rubik-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/rubik-regular-webfont.woff2') format("woff2"), url('../fonts/rubik-regular-webfont.woff') format("woff"), url('../fonts/rubik-regular-webfont.ttf') format("truetype"), url('../fonts/rubik-regular-webfont.svg#rubikregular') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'rubikbold'
  src: url('../fonts/rubik-bold-webfont.eot')
  src: url('../fonts/rubik-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/rubik-bold-webfont.woff2') format("woff2"), url('../fonts/rubik-bold-webfont.woff') format("woff"), url('../fonts/rubik-bold-webfont.ttf') format("truetype"), url('../fonts/rubik-bold-webfont.svg#rubikbold') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'trashhandregular'
  src: url('../fonts/TrashHand-webfont.eot')
  src: url('../fonts/TrashHand-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/TrashHand-webfont.woff') format("woff"), url('../fonts/TrashHand-webfont.ttf') format("truetype"), url('../fonts/TrashHand-webfont.svg#trashhandregular') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'gabriel'
  src: url('../fonts/gabrwffr-webfont.eot')
  src: url('../fonts/gabrwffr-webfont.eot?#iefix') format("../fonts/embedded-opentype"), url('../fonts/gabrwffr-webfont.woff2') format("woff2"), url('../fonts/gabrwffr-webfont.woff') format("woff"), url('../fonts/gabrwffr-webfont.ttf') format("truetype"), url('../fonts/gabrwffr-webfont.svg#gabriel_weiss_friends_fontRg') format("svg")
  font-weight: normal
  font-style: normal