// Import Bootstrap Compass integration
@import "bootstrap-compass"
// Import custom Bootstrap variables
@import "bootstrap-variables"
// Import Bootstrap for Sass
@import "bootstrap"
// Import fullpage
@import	fullPage
//Import font
@import font

//===============================Hapy styling Guys========================================
.static-nav
	width: 100%
	position: fixed
	z-index: 300
	.header-top
		width: 100%
		margin-top: 45px
		z-index: 100
		position: relative
		.logo
			display: inline-block
		.navbar
			background: none
			border: none
			display: inline-block
			float: right
			.navbar-nav
				li
					padding: 10px 15px
					a
						color: #403f3f
						font-family: 'rubik'
						font-size: 16px
						font-weight:  bold
						position: relative
						padding: 0
						&:after
							content: ""
							position: absolute
							height: 2px
							width: 0px
							background-color: #d9232e
							-webkit-transition: all 0.2s ease
							-moz-transition: all 0.2s ease
							-o-transition: all 0.2s ease
							transition: all 0.2s ease
							left: 0
							bottom: -3px
						&:hover
							color: #d9232e
							text-decoration: none
							&:after
								width: 100%
#top-section
	height: 100vh
	#moving-bg
		position: absolute
		z-index: 1
		top: 0
		left: 0
		overflow: hidden 
		right: 0
		width: 100%
		height: 100%
		div
			width: 105%
			left: 0
			top: 0
			height: 100%
			position: absolute
			-webkit-transition: all 0.2s linear
			-moz-transition: all 0.2s linear
			-o-transition: all 0.2s linear
			transition: all 0.2s linear
			&.main-background
				background: url("../images/bg.png") repeat
				background-size: 100%
				top: -30px
				left: -30px
				position: absolute
				height: 110%
			&.lamp
				background: url("../images/lamp.png") no-repeat
				background-size: 80%
				top: -40px
				left: 8%
				position: absolute
			&.desk
				background: url("../images/meja.png") no-repeat bottom center
				background-size: 100%
				top: 20px
				left: -30px
				position: absolute
	.wraper-content-text-home
		position: absolute
		z-index: 220
		height: 90vh
		width: 100%
		.text-hallo
			position: absolute
			top: 45%
			right: 5%
			width: 40%
			.hello
				color: #d8262e
				font-family: 'rubikbold'
				font-size: 24px
				margin-bottom: 3px
				h3
					display: inline-block!important
					margin-bottom: 0px
			.we
				font-family: 'trashhandregular'
				display: inline-block
				background: #d8262e
				color: #fff
				padding: 0px 10px
				margin-top: 5px
				margin-bottom: 15px
				font-size: 30px
				opacity: 0
			p
				font-family: 'rubik'
				font-size: 15px
				color: #403f3f
				line-height: 22px
				opacity: 0
			.rect
				width: 0px
				height: 5px
				background: #403f3f
				display: block
				margin-top: 20px
#main-froyo-section
	.wraper-svg
		position: absolute
		top: 0
		left: 0
		width: 100%
		svg
			position: relative
			left: 79px
	.block-part-section
		margin: 20px 0
		position: relative
		&#radar
			.on-hover
				left: 33%
				top: 30%
		&#team
			.on-hover
				left: 41%
				top: 43%
		&#blog
			.on-hover
				left: 36%
				top: 50%
		.on-hover
			position: absolute
			left: 45%
			top: 50%
			opacity: 0
			-webkit-transition: all 0.2s ease-in-out 0.1s
			-moz-transition: all 0.2s ease-in-out 0.1s
			-o-transition: all 0.2s ease-in-out 0.1s
			-ms-transition: all 0.2s ease-in-out 0.1s
			transition: all 0.2s ease-in-out 0.1s
			.circle
				width: 60px
				height: 60px
				border-radius: 50%
				-webkit-border-radius: 50%
				background: rgba(216,38,46,0.8)
				-webkit-transition: all 0.2s ease-in-out 0.1s
				-moz-transition: all 0.2s ease-in-out 0.1s
				-o-transition: all 0.2s ease-in-out 0.1s
				-ms-transition: all 0.2s ease-in-out 0.1s
				transition: all 0.2s ease-in-out 0.1s
				-webkit-transform: scale(0)
				-moz-transform: scale(0)
				-o-transform: scale(0)
				-ms-transform: scale(0)
				transform: scale(0)
				.magnify-glass
					text-align: center
					img
						width: 30px
						height: 30px
						position: relative
						top: 15px
						-moz-transition: all 0.2s ease-in-out 0.1s
						-o-transition: all 0.2s ease-in-out 0.1s
						-ms-transition: all 0.2s ease-in-out 0.1s
						transition: all 0.2s ease-in-out 0.1s
						-webkit-transition-delay: 0.1s
						-moz-transition-delay: 0.1s
						-o-transition-delay: 0.1s
						-ms-transition-delay: 0.1s
						transition-delay: 0.1s
						-webkit-transform: scale(0)
						-moz-transform: scale(0)
						-o-transform: scale(0)
						-ms-transform: scale(0)
						transform: scale(0)
		.margin-20
			margin: 81px 0
		.left-block-side
			position: relative
			vertical-align: middle
			width: 90%
			.image-doodle
				cursor: pointer
				img
					width: 100%
					position: relative
				.doodle
					position: absolute
					width: 100%
					top: 0
					img
						width: 100%
			&:hover
				.on-hover
					opacity: 1
					.circle
						-webkit-transform: scale(1)
						-moz-transform: scale(1)
						-o-transform: scale(1)
						-ms-transform: scale(1)
						transform: scale(1)
						.magnify-glass
							img
								-webkit-transform: scale(1)
								-moz-transform: scale(1)
								-o-transform: scale(1)
								-ms-transform: scale(1)
								transform: scale(1)

			.text-doodle
				position: absolute
				top: 150px
				text-align: right
				&.radar
					top: 55px
				h1
					color: #d8262e
					font-family: 'gabriel'
					font-size: 26px
				p
					font-family: 'rubik'
					color: #403f3f
					font-size: 14px
		.right-block-side
			position: relative
			vertical-align: middle
			width: 90%
			.image-doodle
				cursor: pointer
				img
					width: 100%
				.doodle
					position: absolute
					width: 100%
					top: 0
					img
						width: 100%
			.text-doodle
				position: absolute
				top: 110px
				h1
					color: #d8262e
					font-family: 'gabriel'
					font-size: 26px
			&:hover
				.on-hover
					opacity: 1
					.circle
						-webkit-transform: scale(1)
						-moz-transform: scale(1)
						-o-transform: scale(1)
						-ms-transform: scale(1)
						transform: scale(1)
						.magnify-glass
							img
								-webkit-transform: scale(1)
								-moz-transform: scale(1)
								-o-transform: scale(1)
								-ms-transform: scale(1)
								transform: scale(1)
	#bottom-footer
		background: url('../images/footer.png')
		background-size: cover
		min-height: 752px
		padding: 100px 0  30px 0
		.addres-office
			font-family: 'rubik'
			font-size: 14px
			div
				margin: 25px 0
				&.office
					p
						width: 60%
				&.find-us
					margin: 0
					.sosmed-list
						padding: 0
						li
							list-style: none
							display: inline-block
							a
								width: 30px
								height: 30px
								background-size: cover
								display: block
								position: relative
								text-indent: -9999px
							&.fb
								background: url('../images/sosmed.png') no-repeat 0 0
							&.instagram
								background: url('../images/sosmed.png') no-repeat -32px 0
							&.twitter
								background: url('../images/sosmed.png') no-repeat -100px 0
							&.gplus
								background: url('../images/sosmed.png') no-repeat -62px 0
							&.linkend
								background: url('../images/sosmed.png') no-repeat 140px 0
			h2
				font-family: 'gabriel'
				font-size: 32px
				color: #d8262e
				margin-bottom: 30px
			b
				font-family: 'rubikbold'
		.contact-form
			.contact-left
			.contact-right
				



		
		
	
